* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 50px;
    background-color: blue;
    padding: 20px;
}
.main ul li{
    margin-right: 40px;
    list-style: none;
    background-color: aliceblue;
    padding: 8px;
    font-size: 18px;
    border-radius: 10px;
}

.link {
    text-decoration: none;
    color: black;
}
.deshboard {
    display: flex;
    position:absolute;
    left: 0px;
    list-style: none;
    background-color: aliceblue;
    padding: 8px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 15px;
    text-transform:capitalize;
}